@font-face {
    font-family: 'actionFace';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/** reset start **/
html,body,h1,h2,h3,h4,h5,p,div,ul,ol,dl,dt,dd,form,table,input,textarea,select{ margin:0; padding:0;
    font-family: 'actionFace';font-size: 1rem; }

li{ list-style: none;}
img{ border:none; vertical-align: top;}
a{ text-decoration: none; color: black;}
input,textarea{ outline:none;}

/** reset end **/

/** public style start **/
.fl{ float:left;}
.fr{ float:right;}
.clear{ zoom:1;}
.clear:after{ display:block; clear:both; content:'';}
/** public style end **/

/** wrap start **/
.wrap{ width:100%; height:100%; position:relative;}

/** header start **/
#header{ width:100%; height:5rem; background:white;}
#header .headMain{ width: 1170px; height:100%; margin:0 auto; position:relative;}
.headMain>a{ display:inline-block; width:188px; height:31px; background:url("../images/logo.png") no-repeat; margin-top:35px; cursor:pointer;}
.headMain>nav{ display:block; margin-top:46px;  height:30px; line-height:30px;font-size:0;}
.headMain>nav a{ display:inline-block; font-size:1rem; text-align:center; margin-left:40px; position:relative; left:0; top:0;  }
.headMain>nav a span{ display:block;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;}
.headMain>nav a span:nth-of-type(2){ position:absolute; left:0px; top:0; color:red; overflow:hidden; width:0%;}
.headMain>nav a:hover span:nth-of-type(2),.headMain>nav a.active span:nth-of-type(2){ width:100%;}
.headMain>.arrow{ width:21px; height:11px; position:absolute; top: 5rem; left:50%; background:url("../images/menuIndicator.png") no-repeat;z-index:10;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;}
/** header end **/
/** content start **/
#content{ width:100%; position:relative; overflow:hidden;}
#content .list{ width:100%; position:absolute; top:0; left:0;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
#content .list .liList{width:2000px; position:relative; left:50%; margin-left:-1000px; overflow:hidden;}
#content .liList .show_ctx{ width:1170px; margin:0 auto;/*background:white;*/ height:38.75rem; /* 620px;*/ position:relative;}
#content .liList .show_ctx h2{ font-size:80px; color:#009EE0; font-weight:bold; margin-left:50px; line-height:.7; letter-spacing: -5px; padding:100px 0 120px;}
/** home start **/
#home{  background: url("../images/bg1.jpg") no-repeat}
/** home end **/
/** course start **/
#course{  background: url("../images/bg3.jpg") no-repeat}
/** course end **/
/** works start **/
#works{  background: url("../images/bg1.jpg") no-repeat}
#works .show_ctx ul{ margin-left:50px; min-width:0;}
#works ul li{ position:relative; float:left; margin-right:1px; width:220px; height:133px; overflow:hidden;}
#works ul li:last-of-type{ width:332px;}
#works ul li img{ position:absolute; left:0; top:0; width:100%; height:100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;}
#works ul li span{ width:100%; height:100%; position: absolute; background:rgba(25,25,25,.2); color:white; padding:10px; text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-position .6s,opacity 1s;
    -moz-transition: background-position .6s,opacity 1s;
    -ms-transition: background-position .6s,opacity 1s;
    -o-transition: background-position .6s,opacity 1s;
    transition: background-position .6s,opacity 1s;
    opacity:0;
}
#works ul li span:nth-of-type(2){ width:32px; height:34px; background:url("../images/zoomico.png") no-repeat; left:94px; top:58px;}
#works ul li:last-of-type span:nth-of-type(2){ left:150px;}

#works ul li:hover img{
    -webkit-transform: scale(1.5) rotate(-10deg);
    -moz-transform: scale(1.5) rotate(-10deg);
    -ms-transform: scale(1.5) rotate(-10deg);
    -o-transform: scale(1.5) rotate(-10deg);
    transform: scale(1.5) rotate(-10deg);
}
#works ul li:hover span{
    opacity:1;
}
#works ul li span:nth-of-type(2):hover{
    background-position: 0 -36px;
}

#works .show_ctx .robot{ position:absolute; width: 167px; height:191px; background:url("../images/robot.png") no-repeat; left:900px; top:210px; /** min-left : 450px; max-left:*/
    -webkit-animation: 10s robotMove linear infinite;
    -o-animation: 10s robotMove linear infinite;
    animation: 10s robotMove linear infinite;
}
/** works end **/
/** about start **/
#about{  background: url("../images/bg5.jpg") no-repeat}
/** about end **/
/** team start **/
#team{  background: url("../images/bg2.jpg") no-repeat}
/** team end **/


/** content end **/
/** wrap end **/

/*** animation **/
@-webkit-keyframes robotMove {
    0%{}

    49%{
        -webkit-transform:rotateY(20deg);
        transform:rotateY(20deg);
    }
    50%{
        left:450px;
        -webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    99%{
        -webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    100%{
        -webkit-transform:rotateY(150deg);
        transform:rotateY(150deg);
    }
}
@-moz-keyframes robotMove {
    0%{}

    49%{
        -moz-transform:rotateY(20deg);
        transform:rotateY(20deg);
    }
    50%{
        left:450px;
        -moz-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    99%{
        -moz-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    100%{
        -moz-transform:rotateY(150deg);
        transform:rotateY(150deg);
    }
}
@-o-keyframes robotMove {
    0%{}

    49%{
        -o-transform:rotateY(20deg);
        transform:rotateY(20deg);
    }
    50%{
        left:450px;
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    99%{
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    100%{
        -o-transform:rotateY(150deg);
        transform:rotateY(150deg);
    }
}
@-ms-keyframes robotMove {
    0%{}

    49%{
        -ms-transform:rotateY(20deg);
        transform:rotateY(20deg);
    }
    50%{
        left:450px;
        -ms-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    99%{
        -ms-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    100%{
        -ms-transform:rotateY(150deg);
        transform:rotateY(150deg);
    }
}
@keyframes robotMove {
    0%{}
    49%{
        transform:rotateY(20deg);
    }
    50%{
        left:450px;
        transform:rotateY(180deg);
    }
    99%{
        transform:rotateY(180deg);
    }
    100%{
        transform:rotateY(150deg);
    }
}